include ../../../views/partials
extends ../../../views/layout

block content
	h1 Register
	if global.query.error == "exists"
		.msg-error User already exists!
	form.pure-form(action=global.url_prefix + '/auth/register' method="post")
		fieldset.pure-group
			input(type="text" placeholder="Username" name="username" required)
			input(type="password" placeholder="Password" name="password" required)
			input.pure-button.button-success(type="submit" value="Register")