include ../../../views/partials
extends ../../../views/layout

block content
	.pure-g.listing
		if forums
			each forum in forums
				+row_subforum(forum, global)
		if threads
			each thread in threads
				+row_thread(thread, subforum_id, global)
	if global.auth
		a.pure-button.pure-button-primary(href=global.url + '/t') Create Thread
	if isAdmin
		a.pure-button.pure-button-primary(href=global.url + '/create/subforum') Create Subforum