include ../../../views/partials
extends ../../../views/layout

block content
	.pure-g.listing
		if forums
			each forum in forums
				+row_subforum(forum)
		if threads
			each thread in threads
				+row_thread(thread, subforum_id)